<?xml version="1.1" encoding="UTF-8"?>
<configuration>
    <base uri="https://raw.githubusercontent.com/developments-wesleylima/Roding/main/releases/" />
    <files>
        <file path="C:/Users/jdasilwe/OneDrive - Johnson Controls/Documents/NetBeans_Projects/RodingXP/V3/RodingXP.jar" size="190414" />
    </files>
</configuration>